@font-face {
  src: url("./font/overseer/Overseer.otf");
  font-family: OverseerFont;

}
body {
  font-family: OverseerFont;
  margin: 0;
  background-color: #000000;
  /* background-image: url("./images/pipboy-bg.png"); */
  background-repeat: no-repeat;
  background-size: 70%;
  

}

a {
  color: white;
  text-decoration: none;
}

